/*******************************************************************
# RESET
*******************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
  text-decoration: none;

  /* FONT */
  font-family: "Roboto", sans-serif;
}

a:-webkit-any-link {
  color: var(--color-primary);
}

#scrolltop-arrow {
  background-color: blue;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
}



/*******************************************************************
# DEBUG
*******************************************************************/

.debug {
  padding: 1rem;
  background-color: beige;
  border: 1px dashed blue;
}